@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso Denegado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <h6 class="text-danger">Usted no tiene permiso para acceder esta pagina</h6>
    <img src="~/images/AccessDenied.jpg" style="height:300px; width:300px" />"
</header>
